* {
    box-sizing: border-box;
}
body {
    background-color: #FFE2B0;
}
header {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align:  center;
    padding: 0px;

}
li {
    display: inline;
    margin-right: 100px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
  
}

li:last-child {
    margin-right: 0px;

}
nav {
    margin-bottom: 20px;
}

.section-about {
    height: 640px;
    background: url(../img/01-Картинка-фона.jpg) center/
    cover no-repeat;
    position: relative;
    margin-bottom: 20px;

}

.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 
    0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;
}

.section-about__border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;

    
}

.section-about__title {
    font-size: 36px;
    text-align: center;
    margin: 0;
    margin-bottom: 9px;
}
.section-about__text {
    font-size: 18px;
    margin: 0;
}
.section-description {
    margin-bottom: 20px;

}
.section-description__icon-box {
    text-align: center;
}

.section-description__icon-box img {
    margin-right: 76px;
    margin-bottom: 20px;
}

.section-description__icon-box img:last-child {
    margin-right: 0px;
}
.section-description__title {
    font-size: 96px;
    margin: 0px;
    text-align: center;

}
.section-description__span {
    color: #f3652c
}
.section-description__text {
    font-size: 30px;
    margin: 0px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.section-map__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
}